<!DOCTYPE html>
<html lang="en" manifest=NOTEX32.manifest>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <!-- <title>dd供应链系统</title> -->
  <link rel="icon" href="../assets/logo.png" type="image/x-icon" />
  <link rel="stylesheet" href="./iconfont.css">
</head>

<body>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <script>
    window.config = {
      // apiUrl: 'http://192.168.1.118:9099' // test
      // apiUrl: 'http://192.168.4.139:9099' // 立中
      // apiUrl: 'http://192.168.1.107:9099' // 成杰
      // apiUrl: 'http://crm.addchina.com:7080' //客户环境 123
      // apiUrl: 'http://zmmax.systex365.com:10050' //外网链接的服务器
      // apiUrl: 'http://192.168.60.205:10050' // 内网服务器
      apiUrl: 'http://220.189.216.106:30050' // 鸿裕服务器
      // apiUrl: 'http://220.189.216.106:10050' // 鸿裕服务器-测试环境
      // apiUrl: 'http://220.189.216.106:30050' // 鸿裕服务器-生产环境
      // apiUrl: 'http://192.168.4.138:9099' // 冰清
      // apiUrl : 'http://192.168.4.62:9099' // 永昆
      // apiUrl: 'http://192.168.4.59:9099' //  李强
      // apiUrl : 'http://192.168.4.60:9099' //  宁江龙
      // apiUrl: 'http://222.72.46.2:10050' // 浔兴
    }
    localStorage.setItem('origin', window.location.origin)
    document.title = localStorage.getItem('loginSubTitle')
  </script>

  <div id="root"></div>
</body>

</html>